@media only screen and (max-width: 1360px) {
  .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .container-violet {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .front-card {
    transform: translate(0rem, 39rem);
    margin-left: 35rem;
  }

  .back-card {
    transform: translate(0rem, -11rem);
    margin-left: 68rem;
  }

  .cvc {
    margin-left: 37rem;
    transform: translate(0rem, -13.6rem);
  }

  .owner {
    justify-content: start;
    gap: 18rem;
  }
}

@media only screen and (max-width: 1152px) {
  .front-card {
    margin-left: 20rem;
  }

  .back-card {
    margin-left: 40rem;
  }
}

@media only screen and (max-width: 931px) {
  .front-card {
    margin-left: 9rem;
  }

  .back-card {
    margin-left: 20rem;
  }
}

@media only screen and (max-width: 662px) {
  .front-card {
    margin-left: 2rem;
  }

  .front-card img {
    width: 50%;
  }

  .logo img {
    width: 10%;
  }

  .back-card {
    margin-left: 9rem;
  }

  .back-card img {
    width: 50%;
  }

  .cvc {
    margin-left: 20rem;
    transform: translate(0rem, -9.3rem);
  }

  form {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
